@font-face {
    font-family: goldman_reg;
    src: url(../font/Goldman-Regular.ttf);
}
body {
    background-color: rgb(41, 48, 48);
}

body, ul, li, h1, h2, h3, p, button {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 1440px;
}

.dir-container, .server-container{
    display: flex;
    border: 1px solid #fff;
    flex-wrap: wrap;
    width: fit-content;
}

.dir-container form{
    display: flex;
}

.dirs {
    display: flex;
    flex-wrap: wrap;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.dirs button {
    display: block;
}

.file-container {
    width: fit-content;
}

.file-container form{
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
}

.button-filedir, button {
    padding: 1em;
    min-width: 100px;
    max-width: 100px;
    border: none;
    outline: none;
}

.text-container {
    padding: 1em;
    border: 1px solid #fff;
    background-color: rgb(20, 20, 20);
    overflow-y: scroll;
    overflow-y: scroll;
    height: 817px;
}

.iframe-container iframe{
    height: 960px;
}